In [30]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("../data/bulk_data.csv")
df

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,0,0.0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,799144,814836.0,2020-12-27,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,799145,814837.0,2020-12-28,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,799146,814838.0,2020-12-29,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,799147,814839.0,2020-12-30,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,799148,814840.0,2020-12-31,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [32]:
dates=df['Date'].astype('datetime64[ns]')
dates=dates.dt.dayofyear
df['Date']=dates
df

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,0,0.0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,799144,814836.0,362,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,799145,814837.0,363,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,799146,814838.0,364,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,799147,814839.0,365,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,799148,814840.0,366,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [33]:
# test=df.groupby(['Station Name','Date']).mean()
# test

In [34]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,362,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,40.79488,-106.59535,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,363,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,40.79488,-106.59535,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,364,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,365,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,366,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [35]:
df.columns

Index(['Date', 'Station Name',
       'Snow Water Equivalent (in) Start of Day Values',
       'Change In Snow Water Equivalent (in)',
       'Snow Depth (in) Start of Day Values', 'Change In Snow Depth (in)',
       'Elevation (ft)', 'Air Temperature Average (degF)', 'Latitude',
       'Longitude', 'County Name', 'Station Id',
       'Air Temperature Observed (degF) Start of Day Values',
       'Barometric Pressure (inch_Hg) Start of Day Values',
       'Precipitation Accumulation (in) Start of Day Values',
       'Precipitation Increment (in)',
       'Precipitation Increment - Snow-adj (in)',
       'Precipitation Month-to-date (in)', 'Solar Radiation Average (watt/m2)',
       'Soil Temperature Observed -2in (degF) Start of Day Values',
       'Soil Temperature Observed -4in (degF) Start of Day Values',
       'Soil Temperature Observed -8in (degF) Start of Day Values',
       'Soil Temperature Observed -20in (degF) Start of Day Values',
       'Soil Temperature Observed -40in (degF) Start of Day Values'],
      dtype='object')

In [36]:
# clean_df=df.drop(['Station Id',
#        'Air Temperature Observed (degF) Start of Day Values',
#        'Barometric Pressure (inch_Hg) Start of Day Values',
#        'Precipitation Accumulation (in) Start of Day Values',
#        'Precipitation Increment (in)',
#        'Precipitation Increment - Snow-adj (in)',
#        'Precipitation Month-to-date (in)', 'Solar Radiation Average (watt/m2)',
#        'Soil Temperature Observed -2in (degF) Start of Day Values',
#        'Soil Temperature Observed -4in (degF) Start of Day Values',
#        'Soil Temperature Observed -8in (degF) Start of Day Values',
#        'Soil Temperature Observed -20in (degF) Start of Day Values',
#        'Soil Temperature Observed -40in (degF) Start of Day Values','County Name'], axis=1)
# clean_df

In [37]:
new_columns=['dates', 
			'station_name', 
			'snow_water_equiv_start_of_day',
 			'change_in_snow_water_equiv',  
			'snow_depth_start_of_day',
			'change_in_snow_depth',
			'elevation', 
			'air_temp_avg', 
			'lat',
			'lon', 
			'county_name', 
			'station_id',
			'air_temp_observed',
			'barometric_pressure',
			'precip_accumulation', 
			'precip_increment',
			'precip_increment_snow_adj',
			'precip_month_to_date',
			'solar_radiation_avg',
			'soil_temp_neg_2', 
			'soil_temp_neg_4',
			'soil_temp_neg_8',
			'soil_temp_neg_20',
			'soil_temp_neg_40']
df.columns=new_columns
df.head()

,dates,station_name,snow_water_equiv_start_of_day,change_in_snow_water_equiv,snow_depth_start_of_day,change_in_snow_depth,elevation,air_temp_avg,lat,lon,...,precip_accumulation,precip_increment,precip_increment_snow_adj,precip_month_to_date,solar_radiation_avg,soil_temp_neg_2,soil_temp_neg_4,soil_temp_neg_8,soil_temp_neg_20,soil_temp_neg_40
0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.columns

Index(['dates', 'station_name', 'snow_water_equiv_start_of_day',
       'change_in_snow_water_equiv', 'snow_depth_start_of_day',
       'change_in_snow_depth', 'elevation', 'air_temp_avg', 'lat', 'lon',
       'county_name', 'station_id', 'air_temp_observed', 'barometric_pressure',
       'precip_accumulation', 'precip_increment', 'precip_increment_snow_adj',
       'precip_month_to_date', 'solar_radiation_avg', 'soil_temp_neg_2',
       'soil_temp_neg_4', 'soil_temp_neg_8', 'soil_temp_neg_20',
       'soil_temp_neg_40'],
      dtype='object')

In [39]:
# new_columns=['dates', 'station_name', 'snow_water_equiv_start_of_day',
#              'change_in_snow_water_equiv', 'snow_depth_start_of_day',
#     'change_in_snow_depth', 'elevation', 'air_temp_avg','station_id', 'air_temp_observ_' 'lat', 'lon']
# clean_df.columns=new_columns
# clean_df.head()

In [40]:
test=df.groupby(['station_name','dates']).mean()
test

                    snow_water_equiv_start_of_day  change_in_snow_water_equiv  \
station_name dates
Apishapa     1                           3.014286                    0.066667
             2                           3.038095                    0.023810
             3                           3.119048                    0.080952
             4                           3.147619                    0.028571
             5                           3.223810                    0.076190
...                                           ...                         ...
Zirkel       362                         9.973684                    0.126316
             363                        10.110526                    0.136842
             364                        10.410526                    0.300000
             365                        10.615789                    0.205263
             366                         9.560000                    0.180000

                    snow_depth_start_of_day  change_in_snow_depth  elevation  \
station_name dates
Apishapa     1                    12.190476              0.285714    10000.0
             2                    12.047619             -0.142857    10000.0
             3                    11.761905             -0.285714    10000.0
             4                    11.523810             -0.238095    10000.0
             5                    12.300000              0.350000    10000.0
...                                     ...                   ...        ...
Zirkel       362                  38.263158             -0.105263     9340.0
             363                  38.444444              0.111111     9340.0
             364                  53.842105             16.444444     9340.0
             365                  43.315789            -10.526316     9340.0
             366                  63.400000             25.000000     9340.0

                    air_temp_avg       lat        lon  station_id  \
station_name dates
Apishapa     1         23.619048  37.33062 -105.06749         303
             2         25.761905  37.33062 -105.06749         303
             3         27.571429  37.33062 -105.06749         303
             4         27.714286  37.33062 -105.06749         303
             5         26.714286  37.33062 -105.06749         303
...                          ...       ...        ...         ...
Zirkel       362       16.526316  40.79488 -106.59535        1033
             363       16.578947  40.79488 -106.59535        1033
             364       17.555556  40.79488 -106.59535        1033
             365       15.055556  40.79488 -106.59535        1033
             366       22.200000  40.79488 -106.59535        1033

                    air_temp_observed  ...  precip_accumulation  \
station_name dates                     ...
Apishapa     1              20.666667  ...             5.252381
             2              19.952381  ...             5.271429
             3              24.428571  ...             5.366667
             4              23.761905  ...             5.400000
             5              24.904762  ...             5.447619
...                               ...  ...                  ...
Zirkel       362            13.473684  ...            13.342105
             363            15.052632  ...            13.457895
             364            14.526316  ...            13.715789
             365            15.444444  ...            13.905263
             366            20.800000  ...            12.220000

                    precip_increment  precip_increment_snow_adj  \
station_name dates
Apishapa     1              0.019048                   0.033333
             2              0.095238                   0.104762
             3              0.033333                   0.042857
             4              0.047619                   0.100000
             5              0.085714                   0.142857
...                              ...                        ...
Zirkel       362            0.115789                   0.157895
             363            0.257895                   0.305263
             364            0.189474                   0.236842
             365            0.168421                   0.226316
             366            0.060000                   0.080000

                    precip_month_to_date  solar_radiation_avg  \
station_name dates
Apishapa     1                       NaN                  NaN
             2                       NaN                  NaN
             3                       NaN                  NaN
             4                       NaN                  NaN
             5                       NaN                  NaN
...                                  ...                  ...
Zirkel       362                     NaN                  NaN
             363                     NaN                  NaN
             364                     NaN                  NaN
             365                     NaN                  NaN
             366                     NaN                  NaN

                    soil_temp_neg_2  soil_temp_neg_4  soil_temp_neg_8  \
station_name dates
Apishapa     1                  NaN              NaN              NaN
             2                  NaN              NaN              NaN
             3                  NaN              NaN              NaN
             4                  NaN              NaN              NaN
             5                  NaN              NaN              NaN
...                             ...              ...              ...
Zirkel       362          33.111111              NaN        44.333333
             363          33.111111              NaN        44.000000
             364          33.111111              NaN        44.166667
             365          33.058824              NaN        44.823529
             366          33.000000              NaN        35.600000

                    soil_temp_neg_20  soil_temp_neg_40
station_name dates
Apishapa     1                   NaN               NaN
             2                   NaN               NaN
             3                   NaN               NaN
             4                   NaN               NaN
             5                   NaN               NaN
...                              ...               ...
Zirkel       362           34.555556               NaN
             363           34.555556               NaN
             364           34.555556               NaN
             365           34.529412               NaN
             366           34.600000               NaN

[42090 rows x 21 columns]

In [41]:
test=test.round(6)
test=test.fillna(0)
test

                    snow_water_equiv_start_of_day  change_in_snow_water_equiv  \
station_name dates
Apishapa     1                           3.014286                    0.066667
             2                           3.038095                    0.023810
             3                           3.119048                    0.080952
             4                           3.147619                    0.028571
             5                           3.223810                    0.076190
...                                           ...                         ...
Zirkel       362                         9.973684                    0.126316
             363                        10.110526                    0.136842
             364                        10.410526                    0.300000
             365                        10.615789                    0.205263
             366                         9.560000                    0.180000

                    snow_depth_start_of_day  change_in_snow_depth  elevation  \
station_name dates
Apishapa     1                    12.190476              0.285714    10000.0
             2                    12.047619             -0.142857    10000.0
             3                    11.761905             -0.285714    10000.0
             4                    11.523810             -0.238095    10000.0
             5                    12.300000              0.350000    10000.0
...                                     ...                   ...        ...
Zirkel       362                  38.263158             -0.105263     9340.0
             363                  38.444444              0.111111     9340.0
             364                  53.842105             16.444444     9340.0
             365                  43.315789            -10.526316     9340.0
             366                  63.400000             25.000000     9340.0

                    air_temp_avg       lat        lon  station_id  \
station_name dates
Apishapa     1         23.619048  37.33062 -105.06749         303
             2         25.761905  37.33062 -105.06749         303
             3         27.571429  37.33062 -105.06749         303
             4         27.714286  37.33062 -105.06749         303
             5         26.714286  37.33062 -105.06749         303
...                          ...       ...        ...         ...
Zirkel       362       16.526316  40.79488 -106.59535        1033
             363       16.578947  40.79488 -106.59535        1033
             364       17.555556  40.79488 -106.59535        1033
             365       15.055556  40.79488 -106.59535        1033
             366       22.200000  40.79488 -106.59535        1033

                    air_temp_observed  ...  precip_accumulation  \
station_name dates                     ...
Apishapa     1              20.666667  ...             5.252381
             2              19.952381  ...             5.271429
             3              24.428571  ...             5.366667
             4              23.761905  ...             5.400000
             5              24.904762  ...             5.447619
...                               ...  ...                  ...
Zirkel       362            13.473684  ...            13.342105
             363            15.052632  ...            13.457895
             364            14.526316  ...            13.715789
             365            15.444444  ...            13.905263
             366            20.800000  ...            12.220000

                    precip_increment  precip_increment_snow_adj  \
station_name dates
Apishapa     1              0.019048                   0.033333
             2              0.095238                   0.104762
             3              0.033333                   0.042857
             4              0.047619                   0.100000
             5              0.085714                   0.142857
...                              ...                        ...
Zirkel       362            0.115789                   0.157895
             363            0.257895                   0.305263
             364            0.189474                   0.236842
             365            0.168421                   0.226316
             366            0.060000                   0.080000

                    precip_month_to_date  solar_radiation_avg  \
station_name dates
Apishapa     1                       0.0                  0.0
             2                       0.0                  0.0
             3                       0.0                  0.0
             4                       0.0                  0.0
             5                       0.0                  0.0
...                                  ...                  ...
Zirkel       362                     0.0                  0.0
             363                     0.0                  0.0
             364                     0.0                  0.0
             365                     0.0                  0.0
             366                     0.0                  0.0

                    soil_temp_neg_2  soil_temp_neg_4  soil_temp_neg_8  \
station_name dates
Apishapa     1             0.000000              0.0         0.000000
             2             0.000000              0.0         0.000000
             3             0.000000              0.0         0.000000
             4             0.000000              0.0         0.000000
             5             0.000000              0.0         0.000000
...                             ...              ...              ...
Zirkel       362          33.111111              0.0        44.333333
             363          33.111111              0.0        44.000000
             364          33.111111              0.0        44.166667
             365          33.058824              0.0        44.823529
             366          33.000000              0.0        35.600000

                    soil_temp_neg_20  soil_temp_neg_40
station_name dates
Apishapa     1              0.000000               0.0
             2              0.000000               0.0
             3              0.000000               0.0
             4              0.000000               0.0
             5              0.000000               0.0
...                              ...               ...
Zirkel       362           34.555556               0.0
             363           34.555556               0.0
             364           34.555556               0.0
             365           34.529412               0.0
             366           34.600000               0.0

[42090 rows x 21 columns]

In [44]:
# top=test.sort_values(by='change_in_snow_depth', ascending=False)
# top

                         snow_water_equiv_start_of_day  \
station_name      dates
Chapman Tunnel    366                         5.925000
Mc Clure Pass     304                         0.538095
Butte             318                         1.152381
Willow Creek Pass 162                         0.495238
                  291                         0.514286
...                                                ...
Lizard Head Pass  366                         6.800000
Cascade           366                         5.116667
Upper Rio Grande  366                         3.233333
Deadman Hill      366                         6.983333
Brumley           366                         4.133333

                         change_in_snow_water_equiv  snow_depth_start_of_day  \
station_name      dates
Chapman Tunnel    366                      0.000000                66.500000
Mc Clure Pass     304                      0.061905                30.470588
Butte             318                      0.142857                32.166667
Willow Creek Pass 162                     -0.214286                28.615385
                  291                      0.066667                28.785714
...                                             ...                      ...
Lizard Head Pass  366                      0.016667                31.400000
Cascade           366                      0.083333                22.600000
Upper Rio Grande  366                     -0.016667                16.800000
Deadman Hill      366                      0.133333                32.000000
Brumley           366                      0.000000                22.800000

                         change_in_snow_depth  elevation  air_temp_avg  \
station_name      dates
Chapman Tunnel    366               39.750000    10110.0     15.500000
Mc Clure Pass     304               28.000000     9500.0     38.047619
Butte             318               27.111111    10160.0     28.350000
Willow Creek Pass 162               26.916667     9540.0     47.761905
                  291               26.428571     9540.0     33.571429
...                                       ...        ...           ...
Lizard Head Pass  366              -35.400000    10200.0     20.000000
Cascade           366              -36.400000     8880.0     25.166667
Upper Rio Grande  366              -39.600000     9400.0     17.000000
Deadman Hill      366              -41.400000    10220.0     18.000000
Brumley           366              -53.250000    10600.0     17.166667

                              lat        lon  station_id  air_temp_observed  \
station_name      dates
Chapman Tunnel    366    39.26217 -106.62931        1101          13.250000
Mc Clure Pass     304    39.12897 -107.28806         618          33.666667
Butte             318    38.89433 -106.95300         380          25.850000
Willow Creek Pass 162    40.34703 -106.09433         869          36.761905
                  291    40.34703 -106.09433         869          28.904762
...                           ...        ...         ...                ...
Lizard Head Pass  366    37.79926 -107.92426         586          16.333333
Cascade           366    37.65083 -107.80602         386          20.333333
Upper Rio Grande  366    37.72194 -107.26015         839          10.000000
Deadman Hill      366    40.80571 -105.76993         438          17.000000
Brumley           366    39.08766 -106.54170         369          12.333333

                         ...  precip_accumulation  precip_increment  \
station_name      dates  ...
Chapman Tunnel    366    ...             6.975000          0.025000
Mc Clure Pass     304    ...             2.657143          0.042857
Butte             318    ...             2.628571          0.133333
Willow Creek Pass 162    ...            19.623810          0.038095
                  291    ...             1.080952          0.047619
...                      ...                  ...               ...
Lizard Head Pass  366    ...             6.983333          0.050000
Cascade           366    ...             9.016667          0.016667
Upper Rio Grande  366    ...             5.600000          0.066667
Deadman Hill      366    ...             6.700000          0.016667
Brumley           366    ...             5.100000          0.016667

                         precip_increment_snow_adj  precip_month_to_date  \
station_name      dates
Chapman Tunnel    366                     0.025000                   0.0
Mc Clure Pass     304                     0.047619                   0.0
Butte             318                     0.147619                   0.0
Willow Creek Pass 162                     0.038095                   0.0
                  291                     0.052381                   0.0
...                                            ...                   ...
Lizard Head Pass  366                     0.050000                   0.0
Cascade           366                     0.066667                   0.0
Upper Rio Grande  366                     0.066667                   0.0
Deadman Hill      366                     0.016667                   0.0
Brumley           366                     0.066667                   0.0

                         solar_radiation_avg  soil_temp_neg_2  \
station_name      dates
Chapman Tunnel    366                    0.0         0.000000
Mc Clure Pass     304                    0.0         0.000000
Butte             318                    0.0        64.111111
Willow Creek Pass 162                    0.0         0.000000
                  291                    0.0         0.000000
...                                      ...              ...
Lizard Head Pass  366                    0.0        31.666667
Cascade           366                    0.0         0.000000
Upper Rio Grande  366                    0.0        28.750000
Deadman Hill      366                    0.0         0.000000
Brumley           366                    0.0        31.600000

                         soil_temp_neg_4  soil_temp_neg_8  soil_temp_neg_20  \
station_name      dates
Chapman Tunnel    366                0.0         0.000000          0.000000
Mc Clure Pass     304                0.0         0.000000          0.000000
Butte             318                0.0        33.611111         40.611111
Willow Creek Pass 162                0.0         0.000000          0.000000
                  291                0.0         0.000000          0.000000
...                                  ...              ...               ...
Lizard Head Pass  366                0.0        32.333333         33.333333
Cascade           366                0.0         0.000000          0.000000
Upper Rio Grande  366                0.0        31.000000         32.400000
Deadman Hill      366                0.0         0.000000          0.000000
Brumley           366                0.0        96.400000         34.400000

                         soil_temp_neg_40
station_name      dates
Chapman Tunnel    366                 0.0
Mc Clure Pass     304                 0.0
Butte             318                 0.0
Willow Creek Pass 162                 0.0
                  291                 0.0
...                                   ...
Lizard Head Pass  366                 0.0
Cascade           366                 0.0
Upper Rio Grande  366                 0.0
Deadman Hill      366                 0.0
Brumley           366                 0.0

[42090 rows x 21 columns]

In [13]:
test.add_suffix('').reset_index()

,station_name,dates,snow_water_equiv_start_of_day,change_in_snow_water_equiv,snow_depth_start_of_day,change_in_snow_depth,elevation,air_temp_avg,lat,lon,...,precip_accumulation,precip_increment,precip_increment_snow_adj,precip_month_to_date,solar_radiation_avg,soil_temp_neg_2,soil_temp_neg_4,soil_temp_neg_8,soil_temp_neg_20,soil_temp_neg_40
0,Apishapa,1,3.014286,0.066667,12.190476,0.285714,10000.0,23.619048,37.33062,-105.06749,...,5.252381,0.019048,0.033333,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
1,Apishapa,2,3.038095,0.023810,12.047619,-0.142857,10000.0,25.761905,37.33062,-105.06749,...,5.271429,0.095238,0.104762,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
2,Apishapa,3,3.119048,0.080952,11.761905,-0.285714,10000.0,27.571429,37.33062,-105.06749,...,5.366667,0.033333,0.042857,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
3,Apishapa,4,3.147619,0.028571,11.523810,-0.238095,10000.0,27.714286,37.33062,-105.06749,...,5.400000,0.047619,0.100000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
4,Apishapa,5,3.223810,0.076190,12.300000,0.350000,10000.0,26.714286,37.33062,-105.06749,...,5.447619,0.085714,0.142857,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42085,Zirkel,362,9.973684,0.126316,38.263158,-0.105263,9340.0,16.526316,40.79488,-106.59535,...,13.342105,0.115789,0.157895,0.0,0.0,33.111111,0.0,44.333333,34.555556,0.0
42086,Zirkel,363,10.110526,0.136842,38.444444,0.111111,9340.0,16.578947,40.79488,-106.59535,...,13.457895,0.257895,0.305263,0.0,0.0,33.111111,0.0,44.000000,34.555556,0.0
42087,Zirkel,364,10.410526,0.300000,53.842105,16.444444,9340.0,17.555556,40.79488,-106.59535,...,13.715789,0.189474,0.236842,0.0,0.0,33.111111,0.0,44.166667,34.555556,0.0
42088,Zirkel,365,10.615789,0.205263,43.315789,-10.526316,9340.0,15.055556,40.79488,-106.59535,...,13.905263,0.168421,0.226316,0.0,0.0,33.058824,0.0,44.823529,34.529412,0.0
42089,Zirkel,366,9.560000,0.180000,63.400000,25.000000,9340.0,22.200000,40.79488,-106.59535,...,12.220000,0.060000,0.080000,0.0,0.0,33.000000,0.0,35.600000,34.600000,0.0

In [15]:
test.dtypes

snow_water_equiv_start_of_day    float64
change_in_snow_water_equiv       float64
snow_depth_start_of_day          float64
change_in_snow_depth             float64
elevation                        float64
air_temp_avg                     float64
lat                              float64
lon                              float64
station_id                         int64
air_temp_observed                float64
barometric_pressure              float64
precip_accumulation              float64
precip_increment                 float64
precip_increment_snow_adj        float64
precip_month_to_date             float64
solar_radiation_avg              float64
soil_temp_neg_2                  float64
soil_temp_neg_4                  float64
soil_temp_neg_8                  float64
soil_temp_neg_20                 float64
soil_temp_neg_40                 float64
dtype: object

In [15]:
test.to_csv('../data/daily_means_fullList_3.csv')

In [16]:
# test.to_excel('../data/daily_means_fullList_2.xlsx')