In [2]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../data/bulk_data.csv")
df

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,0,0.0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,799144,814836.0,2020-12-27,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,799145,814837.0,2020-12-28,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,799146,814838.0,2020-12-29,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,799147,814839.0,2020-12-30,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,799148,814840.0,2020-12-31,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [4]:
dates=df['Date'].astype('datetime64[ns]')
dates=dates.dt.dayofyear
df['Date']=dates
df

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,0,0.0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,799144,814836.0,362,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,799145,814837.0,363,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,799146,814838.0,364,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,799147,814839.0,365,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,799148,814840.0,366,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [5]:
# test=df.groupby(['Station Name','Date']).mean()
# test

In [6]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749,...,7.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749,...,7.4,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749,...,7.7,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749,...,7.7,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,362,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,40.79488,-106.59535,...,9.0,0.2,0.2,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799145,363,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,40.79488,-106.59535,...,9.2,0.5,0.5,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799146,364,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799147,365,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN
799148,366,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,40.79488,-106.59535,...,9.7,0.0,0.0,NaN,NaN,33.0,NaN,34.0,35.0,NaN

In [7]:
test.columns

NameError: name 'test' is not defined

In [8]:
clean_df=df.drop(['Station Id',
       'Air Temperature Observed (degF) Start of Day Values',
       'Barometric Pressure (inch_Hg) Start of Day Values',
       'Precipitation Accumulation (in) Start of Day Values',
       'Precipitation Increment (in)',
       'Precipitation Increment - Snow-adj (in)',
       'Precipitation Month-to-date (in)', 'Solar Radiation Average (watt/m2)',
       'Soil Temperature Observed -2in (degF) Start of Day Values',
       'Soil Temperature Observed -4in (degF) Start of Day Values',
       'Soil Temperature Observed -8in (degF) Start of Day Values',
       'Soil Temperature Observed -20in (degF) Start of Day Values',
       'Soil Temperature Observed -40in (degF) Start of Day Values','County Name'], axis=1)
clean_df

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude
0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749
1,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749
2,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749
3,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749
4,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749
...,...,...,...,...,...,...,...,...,...,...
799144,362,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,40.79488,-106.59535
799145,363,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,40.79488,-106.59535
799146,364,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,40.79488,-106.59535
799147,365,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,40.79488,-106.59535
799148,366,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,40.79488,-106.59535

In [9]:
new_columns=['dates', 'station_name', 'snow_water_equiv_start_of_day',
             'change_in_snow_water_equiv', 'snow_depth_start_of_day',
    'change_in_snow_depth', 'elevation', 'air_temp_avg', 'lat', 'lon']
clean_df.columns=new_columns
clean_df.head()

,dates,station_name,snow_water_equiv_start_of_day,change_in_snow_water_equiv,snow_depth_start_of_day,change_in_snow_depth,elevation,air_temp_avg,lat,lon
0,1,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749
1,2,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749
2,3,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749
3,4,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749
4,5,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749

In [10]:
test=clean_df.groupby(['station_name','dates']).mean()
test

                    snow_water_equiv_start_of_day  change_in_snow_water_equiv  \
station_name dates
Apishapa     1                           3.014286                    0.066667
             2                           3.038095                    0.023810
             3                           3.119048                    0.080952
             4                           3.147619                    0.028571
             5                           3.223810                    0.076190
...                                           ...                         ...
Zirkel       362                         9.973684                    0.126316
             363                        10.110526                    0.136842
             364                        10.410526                    0.300000
             365                        10.615789                    0.205263
             366                         9.560000                    0.180000

                    snow_depth_start_of_day  change_in_snow_depth  elevation  \
station_name dates
Apishapa     1                    12.190476              0.285714    10000.0
             2                    12.047619             -0.142857    10000.0
             3                    11.761905             -0.285714    10000.0
             4                    11.523810             -0.238095    10000.0
             5                    12.300000              0.350000    10000.0
...                                     ...                   ...        ...
Zirkel       362                  38.263158             -0.105263     9340.0
             363                  38.444444              0.111111     9340.0
             364                  53.842105             16.444444     9340.0
             365                  43.315789            -10.526316     9340.0
             366                  63.400000             25.000000     9340.0

                    air_temp_avg       lat        lon
station_name dates
Apishapa     1         23.619048  37.33062 -105.06749
             2         25.761905  37.33062 -105.06749
             3         27.571429  37.33062 -105.06749
             4         27.714286  37.33062 -105.06749
             5         26.714286  37.33062 -105.06749
...                          ...       ...        ...
Zirkel       362       16.526316  40.79488 -106.59535
             363       16.578947  40.79488 -106.59535
             364       17.555556  40.79488 -106.59535
             365       15.055556  40.79488 -106.59535
             366       22.200000  40.79488 -106.59535

[42090 rows x 8 columns]

In [11]:
test.add_suffix('').reset_index()

,station_name,dates,snow_water_equiv_start_of_day,change_in_snow_water_equiv,snow_depth_start_of_day,change_in_snow_depth,elevation,air_temp_avg,lat,lon
0,Apishapa,1,3.014286,0.066667,12.190476,0.285714,10000.0,23.619048,37.33062,-105.06749
1,Apishapa,2,3.038095,0.023810,12.047619,-0.142857,10000.0,25.761905,37.33062,-105.06749
2,Apishapa,3,3.119048,0.080952,11.761905,-0.285714,10000.0,27.571429,37.33062,-105.06749
3,Apishapa,4,3.147619,0.028571,11.523810,-0.238095,10000.0,27.714286,37.33062,-105.06749
4,Apishapa,5,3.223810,0.076190,12.300000,0.350000,10000.0,26.714286,37.33062,-105.06749
...,...,...,...,...,...,...,...,...,...,...
42085,Zirkel,362,9.973684,0.126316,38.263158,-0.105263,9340.0,16.526316,40.79488,-106.59535
42086,Zirkel,363,10.110526,0.136842,38.444444,0.111111,9340.0,16.578947,40.79488,-106.59535
42087,Zirkel,364,10.410526,0.300000,53.842105,16.444444,9340.0,17.555556,40.79488,-106.59535
42088,Zirkel,365,10.615789,0.205263,43.315789,-10.526316,9340.0,15.055556,40.79488,-106.59535
42089,Zirkel,366,9.560000,0.180000,63.400000,25.000000,9340.0,22.200000,40.79488,-106.59535

In [12]:
test.to_csv('../data/daily_means.csv')